<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pablo Lobai</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body id='fondo'>
   
<h1 class='blanco'>Digital House Heroes</h1>



<p> El sitio aporta información sobre las Heroínas y Héroes tecnológicos más representativos del ámbito de la programación</p>

<p>Charles Babbage : <a href="http://localhost:3030/babbage"> click aquí</a> 

</p>

<p>Tim Berners - Lee : <a href="http://localhost:3030/berners-lee"> click aquí</a>

</p> 

<p>Joan Clarke : <a href="http://localhost:3030/clarke"> click aquí</a>

</p>

<p>Margaret Hamilton : <a href="http://localhost:3030/hamilton"> click aquí</a>

</p>

<p>Grace Murray Hopper : <a href="http://localhost:3030/hopper"> click aquí</a>

</p>

<p>Ada Lovelace : <a href="http://localhost:3030/lovelace"> click aquí</a>

</p>

<p>Alan Turing : <a href="http://localhost:3030/turing"> click aquí</a>

</p>

</body>

</html> 