<!DOCTYPE html> 
<html lang = "es">

<head>  
    <meta charset ="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewpoint" content="width=device-width,initial-scale=1.0">
     
    <title> Digital House Heroes </title>

   
</head>

<body>
     <h1>Augusta Ada King, condesa de Lovelace</h1>
     <p>Londres, 10 de diciembre de 1815, 27 de noviembre de 1852</p>
    <hr>
  <img src="/images/Ada lovelace.jpg" alt="" srcset="">
    <h2>Matemática, programadora, poeta, informática teórica, inventora, traductora, escritora e ingeniera.</h2>
    <p> Fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica.
    Entre sus notas sobre la máquina, se encuentra lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.<br>
    A una edad temprana, su talento matemático la condujo a una relación de amistad prolongada con el matemático inglés Charles Babbage, y concretamente con la obra de Babbage sobre la máquina analítica.
     Entre 1842 y 1843, tradujo un artículo del ingeniero militar italiano Luigi Menabrea sobre la máquina, que complementó con un amplio conjunto de notas propias, denominado simplemente Notas. 
     Estas notas contienen lo que se considera como el primer programa de ordenador, esto es, un algoritmo codificado para que una máquina lo procese.
</p>
    
</body> 

</html>